{% extends "layout.html" %}
{% block title %} <title>My Academics</title> {% endblock title %}
{% block content %}
<h1 id="academics-header">Completed University Courses &#129489;&#8205;&#127891;</h1>
<div class="piechart">
</div>
<div id="color-schema-list">
    <div class="color-schema">
        <p>23%</p>
        <p>Mathematics</p>
        <div class="border-abs-lg math"></div>
    </div>
    <div class="color-schema">
        <p>68%</p>
        <p>Computer Science</p>
        <div class="border-abs-lg programming"></div>
    </div>
    <div class="color-schema">
        <p>3%</p>
        <p>Economics</p>
        <div class="border-abs-lg economy"></div>
    </div>
    <div class="color-schema">
        <p>6%</p>
        <p>Other</p>
        <div class="border-abs-lg other"></div>
    </div>
</div>
<div class="symbol unit item scrollFade">
    <div class="course-header">
        <span class="course-code">
            Course code
        </span>
        <span class="course-grade">
            Grade
        </span>
    </div>
    <span class="course-name">Course name</span>
    <span class="course-program">Programme <br> *Click item to go to course curricular*</span>
    <div class="course-footer">
        <span class="course-subject">
            Subject
        </span>
        <span class="course-year">
            Attended (year)
        </span>
    </div>
</div>
<div class="p-table">
    <div class="unit item scrollFade math" onclick="window.location='https://studieinfo.liu.se/en/kurs/TDP015'">
        <div class="course-header">
            <span class="course-code">
                TDP015
            </span>
            <span class="course-grade">
                3/5
            </span>
        </div>
        <span class="course-name">Mathematics</span>
        <span class="course-program">B.Pr. in Programming</span>
        <div class="course-footer">
            <span class="course-subject">
                Math
            </span>
            <span class="course-year">
                2021
            </span>
        </div>
    </div>

    <div class="unit item scrollFade math" onclick="window.location='https://studieinfo.liu.se/en/kurs/TAIU10/ht-2022'">
        <div class="course-header">
            <span class="course-code">
                TAIU10
            </span>
            <span class="course-grade">
                5/5
            </span>
        </div>
        <span class="course-name">Calculus</span>
        <span class="course-program">B.Sc. in Computer Engineering</span>
        <div class="course-footer">
            <span class="course-subject">
                Math
            </span>
            <span class="course-year">
                2019
            </span>
        </div>
    </div>

    <div class="unit item scrollFade math" onclick="window.location='https://studieinfo.liu.se/en/kurs/TAIU05'">
        <div class="course-header">
            <span class="course-code">
                TAIU05
            </span>
            <span class="course-grade">
                5/5
            </span>
        </div>
        <span class="course-name">Linear Algebra</span>
        <span class="course-program">B.Sc. in Computer Engineering</span>
        <div class="course-footer">
            <span class="course-subject">
                Math
            </span>
            <span class="course-year">
                2020
            </span>
        </div>
    </div>

    <div class="unit item scrollFade math" onclick="window.location='https://studieinfo.liu.se/en/kurs/TADI31'">
        <div class="course-header">
            <span class="course-code">
                TADI31
            </span>
            <span class="course-grade">
                5/5
            </span>
        </div>
        <span class="course-name">Discrete Mathematics</span>
        <span class="course-program">B.Sc. in Computer Engineering</span>
        <div class="course-footer">
            <span class="course-subject">
                Math
            </span>
            <span class="course-year">
                2020
            </span>
        </div>
    </div>

    <div class="unit item scrollFade item scrollFade math" onclick="window.location='https://studieinfo.liu.se/en/kurs/TAIU08'">
        <div class="course-header">
            <span class="course-code">
                TAIU08
            </span>
            <span class="course-grade">
                4/5
            </span>
        </div>
        <span class="course-name">Calculus in Several Variables</span>
        <span class="course-program">B.Sc. in Computer Engineering</span>
        <div class="course-footer">
            <span class="course-subject">
                Math
            </span>
            <span class="course-year">
                2020
            </span>
        </div>
    </div>

    <div class="unit item scrollFade math" onclick="window.location='https://studieinfo.liu.se/en/kurs/TAMS11'">
        <div class="course-header">
            <span class="course-code">
                TAIU06
            </span>
            <span class="course-grade">
                5/5
            </span>
        </div>
        <span class="course-name">Mathematical Statistics</span>
        <span class="course-program">B.Sc. in Computer Engineering</span>
        <div class="course-footer">
            <span class="course-subject">
                Math
            </span>
            <span class="course-year">
                2020
            </span>
        </div>
    </div>

    <div class="unit item scrollFade math" onclick="window.location='https://studieinfo.liu.se/en/kurs/TSRT04'">
        <div class="course-header">
            <span class="course-code">
                TSRT04
            </span>
            <span class="course-grade">
                3/3
            </span>
        </div>
        <span class="course-name">Introduction in Matlab</span>
        <span class="course-program">B.Sc. in Computer Engineering</span>
        <div class="course-footer">
            <span class="course-subject">
                Math
            </span>
            <span class="course-year">
                2020
            </span>
        </div>
    </div>

    <div class="unit item scrollFade programming" onclick="window.location='https://studieinfo.liu.se/en/kurs/TDDD12'">
        <div class="course-header">
            <span class="course-code">
                TDDD12
            </span>
            <span class="course-grade">
                5/5
            </span>
        </div>
        <span class="course-name">Database Technology</span>
        <span class="course-program">B.Pr. in Programming</span>
        <div class="course-footer">
            <span class="course-subject">
                Computer Science
            </span>
            <span class="course-year">
                2022
            </span>
        </div>
    </div>

    <div class="unit item scrollFade programming" onclick="window.location='https://studieinfo.liu.se/en/kurs/TDIU16'">
        <div class="course-header">
            <span class="course-code">
                TDIU16
            </span>
            <span class="course-grade">
                4/5
            </span>
        </div>
        <span class="course-name">Concurrent and Operating Systems Programming</span>
        <span class="course-program">B.Pr. in Programming</span>
        <div class="course-footer">
            <span class="course-subject">
                Computer Science
            </span>
            <span class="course-year">
                2022
            </span>
        </div>
    </div>

    <div class="unit item scrollFade programming" onclick="window.location='https://studieinfo.liu.se/en/kurs/TDIU11'">
        <div class="course-header">
            <span class="course-code">
                TDIU11
            </span>
            <span class="course-grade">
                4/5
            </span>
        </div>
        <span class="course-name">Operating Systems</span>
        <span class="course-program">B.Pr. in Programming</span>
        <div class="course-footer">
            <span class="course-subject">
                Computer Science
            </span>
            <span class="course-year">
                2022
            </span>
        </div>
    </div>

    <div class="unit item scrollFade programming" onclick="window.location='https://studieinfo.liu.se/en/kurs/TDP032'">
        <div class="course-header">
            <span class="course-code">
                TDP032
            </span>
            <span class="course-grade">
                3/3
            </span>
        </div>
        <span class="course-name">Project:Agile System Development</span>
        <span class="course-program">B.Pr. in Programming</span>
        <div class="course-footer">
            <span class="course-subject">
                Computer Science
            </span>
            <span class="course-year">
                2022
            </span>
        </div>
    </div>

    <div class="unit item scrollFade programming" onclick="window.location='https://studieinfo.liu.se/en/kurs/TDDD60'">
        <div class="course-header">
            <span class="course-code">
                TDDD60
            </span>
            <span class="course-grade">
                5/5
            </span>
        </div>
        <span class="course-name">Interactive Systems</span>
        <span class="course-program">B.Pr. in Programming</span>
        <div class="course-footer">
            <span class="course-subject">
                Computer Science
            </span>
            <span class="course-year">
                2022
            </span>
        </div>
    </div>

    <div class="unit item scrollFade programming" onclick="window.location='https://studieinfo.liu.se/en/kurs/TSIU02'">
        <div class="course-header">
            <span class="course-code">
                TSIU02
            </span>
            <span class="course-grade">
                3/3
            </span>
        </div>
        <span class="course-name">Computer Hardware and Architecture</span>
        <span class="course-program">B.Pr. in Programming</span>
        <div class="course-footer">
            <span class="course-subject">
                Computer Science
            </span>
            <span class="course-year">
                2021
            </span>
        </div>
    </div>

    <div class="unit item scrollFade programming" onclick="window.location='https://studieinfo.liu.se/en/kurs/TDDD49'">
        <div class="course-header">
            <span class="course-code">
                TDDD49
            </span>
            <span class="course-grade">
                3/3
            </span>
        </div>
        <span class="course-name">Programming in C# and .NET Framework</span>
        <span class="course-program">B.Pr. in Programming</span>
        <div class="course-footer">
            <span class="course-subject">
                Computer Science
            </span>
            <span class="course-year">
                2021
            </span>
        </div>
    </div>

    <div class="unit item scrollFade programming" onclick="window.location='https://studieinfo.liu.se/en/kurs/TDP013'">
        <div class="course-header">
            <span class="course-code">
                TDP013
            </span>
            <span class="course-grade">
                4/5
            </span>
        </div>
        <span class="course-name">Web Programming and Interactivity</span>
        <span class="course-program">B.Pr. in Programming</span>
        <div class="course-footer">
            <span class="course-subject">
                Computer Science
            </span>
            <span class="course-year">
                2021
            </span>
        </div>
    </div>

    <div class="unit item scrollFade programming" onclick="window.location='https://studieinfo.liu.se/en/kurs/TDP028'">
        <div class="course-header">
            <span class="course-code">
                TDP028
            </span>
            <span class="course-grade">
                5/5
            </span>
        </div>
        <span class="course-name">Project: Entrepreneurial Programming</span>
        <span class="course-program">B.Pr. in Programming</span>
        <div class="course-footer">
            <span class="course-subject">
                Computer Science
            </span>
            <span class="course-year">
                2021
            </span>
        </div>
    </div>

    <div class="unit item scrollFade programming" onclick="window.location='https://studieinfo.liu.se/en/kurs/TDDI16'">
        <div class="course-header">
            <span class="course-code">
                TDDI16
            </span>
            <span class="course-grade">
                5/5
            </span>
        </div>
        <span class="course-name">Data Structures and Algorithms</span>
        <span class="course-program">B.Pr. in Programming</span>
        <div class="course-footer">
            <span class="course-subject">
                Computer Science
            </span>
            <span class="course-year">
                2021
            </span>
        </div>
    </div>

    <div class="unit item scrollFade programming" onclick="window.location='https://studieinfo.liu.se/en/kurs/TDTS04'">
        <div class="course-header">
            <span class="course-code">
                TDTS04
            </span>
            <span class="course-grade">
                4/5
            </span>
        </div>
        <span class="course-name">Computer Networks and Distributed Systems</span>
        <span class="course-program">B.Pr. in Programming</span>
        <div class="course-footer">
            <span class="course-subject">
                Computer Science
            </span>
            <span class="course-year">
                2021
            </span>
        </div>
    </div>

    <div class="unit item scrollFade programming" onclick="window.location='https://studieinfo.liu.se/en/kurs/TDP007'">
        <div class="course-header">
            <span class="course-code">
                TDP007
            </span>
            <span class="course-grade">
                4/5
            </span>
        </div>
        <span class="course-name">Computer Language Construction</span>
        <span class="course-program">B.Pr. in Programming</span>
        <div class="course-footer">
            <span class="course-subject">
                Computer Science
            </span>
            <span class="course-year">
                2021
            </span>
        </div>
    </div>

    <div class="unit item scrollFade programming" onclick="window.location='https://studieinfo.liu.se/en/kurs/TDP019'">
        <div class="course-header">
            <span class="course-code">
                TDP019
            </span>
            <span class="course-grade">
                5/5
            </span>
        </div>
        <span class="course-name">Project: Computer Language</span>
        <span class="course-program">B.Pr. in Programming</span>
        <div class="course-footer">
            <span class="course-subject">
                Computer Science
            </span>
            <span class="course-year">
                2021
            </span>
        </div>
    </div>

    <div class="unit item scrollFade programming" onclick="window.location='https://studieinfo.liu.se/en/kurs/TDP004/ht-2022'">
        <div class="course-header">
            <span class="course-code">
                TDP004
            </span>
            <span class="course-grade">
                5/5
            </span>
        </div>
        <span class="course-name">Object Oriented Programming</span>
        <span class="course-program">B.Pr. in Programming</span>
        <div class="course-footer">
            <span class="course-subject">
                Computer Science
            </span>
            <span class="course-year">
                2020
            </span>
        </div>
    </div>

    <div class="unit item scrollFade programming" onclick="window.location='https://studieinfo.liu.se/en/kurs/TDP005/ht-2022'">
        <div class="course-header">
            <span class="course-code">
                TDP005
            </span>
            <span class="course-grade">
                3/5
            </span>
        </div>
        <span class="course-name">Project: Object Oriented System</span>
        <span class="course-program">B.Pr. in Programming</span>
        <div class="course-footer">
            <span class="course-subject">
                Computer Science
            </span>
            <span class="course-year">
                2020
            </span>
        </div>
    </div>

    <div class="unit item scrollFade programming" onclick="window.location='https://studieinfo.liu.se/en/kurs/TDP003/ht-2022'">
        <div class="course-header">
            <span class="course-code">
                TDP003
            </span>
            <span class="course-grade">
                3/3
            </span>
        </div>
        <span class="course-name">Project: Personal Computer Environment</span>
        <span class="course-program">B.Pr. in Programming</span>
        <div class="course-footer">
            <span class="course-subject">
                Computer Science
            </span>
            <span class="course-year">
                2020
            </span>
        </div>
    </div>

    <div class="unit item scrollFade programming" onclick="window.location='https://studieinfo.liu.se/en/kurs/TDP001/ht-2022'">
        <div class="course-header">
            <span class="course-code">
                TDP001
            </span>
            <span class="course-grade">
                3/3
            </span>
        </div>
        <span class="course-name">Management of Computer Environment</span>
        <span class="course-program">B.Pr. in Programmingne</span>
        <div class="course-footer">
            <span class="course-subject">
                Computer Science
            </span>
            <span class="course-year">
                2020
            </span>
        </div>
    </div>

    <div class="unit item scrollFade programming" onclick="window.location='https://studieinfo.liu.se/en/kurs/TDP002/ht-2022'">
        <div class="course-header">
            <span class="course-code">
                TDP002
            </span>
            <span class="course-grade">
                5/5
            </span>
        </div>
        <span class="course-name">Imperative Programming</span>
        <span class="course-program">B.Pr. in Programming</span>
        <div class="course-footer">
            <span class="course-subject">
                Computer Science
            </span>
            <span class="course-year">
                2020
            </span>
        </div>
    </div>

    <div class="unit item scrollFade programming" onclick="window.location='https://studieinfo.liu.se/en/kurs/TDIU08/ht-2022'">
        <div class="course-header">
            <span class="course-code">
                TDIU08
            </span>
            <span class="course-grade">
                5/5
            </span>
        </div>
        <span class="course-name">
            Problem Solving and Programming
        </span>
        <span class="course-program">B.Sc. in Computer Engineering</span>
        <div class="course-footer">
            <span class="course-subject">
                Computer Science
            </span>
            <span class="course-year">
                2019
            </span>
        </div>
    </div>

    <div class="unit item scrollFade programming" onclick="window.location='https://studieinfo.liu.se/en/kurs/TSIU05/ht-2022'">
        <div class="course-header">
            <span class="course-code">
                TSIU05
            </span>
            <span class="course-grade">
                4/5
            </span>
        </div>
        <span class="course-name">Switching Theory and Logical Design</span>
        <span class="course-program">B.Sc. in Computer Engineering</span>
        <div class="course-footer">
            <span class="course-subject">
                Computer Science
            </span>
            <span class="course-year">
                2019
            </span>
        </div>
    </div>

    <div class="unit item scrollFade programming" onclick="window.location='https://studieinfo.liu.se/en/kurs/ETE332'">
        <div class="course-header">
            <span class="course-code">
                ETE332
            </span>
            <span class="course-grade">
                3/3
            </span>
        </div>
        <span class="course-name">Computer Security</span>
        <span class="course-program">Self-contained</span>
        <div class="course-footer">
            <span class="course-subject">
                Computer Science
            </span>
            <span class="course-year">
                2021
            </span>
        </div>
    </div>

    <div class="unit item scrollFade economy" onclick="window.location='https://studieinfo.liu.se/en/kurs/TEAE01'">
        <div class="course-header">
            <span class="course-code">
                TEAE01
            </span>
            <span class="course-grade">
                4/5
            </span>
        </div>
        <span class="course-name">Industrial Economics, Basic Course</span>
        <span class="course-program">B.Sc. in Computer Engineering</span>
        <div class="course-footer">
            <span class="course-subject">
                Economics
            </span>
            <span class="course-year">
                2020
            </span>
        </div>
    </div>

    <div class="unit item scrollFade other" onclick="window.location='https://studieinfo.liu.se/en/kurs/TEIE88'">
        <div class="course-header">
            <span class="course-code">
                TEIE88
            </span>
            <span class="course-grade">
                4/5
            </span>
        </div>
        <span class="course-name">Computer Law</span>
        <span class="course-program">B.Sc. in Computer Engineering</span>
        <div class="course-footer">
            <span class="course-subject">
                Other
            </span>
            <span class="course-year">
                2020
            </span>
        </div>
    </div>
    <div class="unit item scrollFade other" onclick="window.location='https://studieinfo.liu.se/en/kurs/TGTU94'">
        <div class="course-header">
            <span class="course-code">
                TGTU01
            </span>
            <span class="course-grade">
                4/5
            </span>
        </div>
        <span class="course-name">Technology and Ethics</span>
        <span class="course-program">B.Sc. in Computer Engineering</span>
        <div class="course-footer">
            <span class="course-subject">
                Other
            </span>
            <span class="course-year">
                2020
            </span>
        </div>
    </div>
</div>

    {% endblock content%}