{% extends "layout.html" %}
{% block title %} <title>Home</title> {% endblock title %}
{% block content %}
<section class="introduction">
  <div id="container-portrait">
    <img src="../static/images/self.jpg" alt="profile portrait" />
    <div id="speech-bbl">
      <p>Third year student, age 27 and excited about software development. </p>
    </div>
  </div>
  <header>
    <h1> > Kasper Nilsson</h1>
  </header>
</section>
<h2 id="latest-project-header" class="item scrollFade">About Me</h2>
<div class="border-abs item scrollFade"></div>
<div id="container-terminal" class="item scrollFade">
  <div id="terminal-header">
    <span id="red-circle" class="terminal-circle"></span>
    <span id="yellow-circle" class="terminal-circle"></span>  
    <span id="green-circle" class="terminal-circle"></span>
  </div>
  <div class="terminal-row">
    <p class="terminal-input"> > Kasper.location</p>
    <p class="terminal-output"> "Linköping, Östergötland" </p>
  </div> 
  <div class="terminal-row">
    <p class="terminal-input"> > Kasper.education</p>
    <p class="terminal-output"> "Innovative Programming Bachelor Programme - Linköping University" </p>
  </div> 
  <div class="terminal-row">
    <p class="terminal-input"> > Kasper.interest</p>
    <p class="terminal-output"> "['Programming', 'Reading', 'Cardio', 'E-sport']" </p>
  </div> 
  <div class="terminal-row">
    <p class="terminal-input"> > Kasper.languages</p>
    <p class="terminal-output"> "['Javascript', 'HTML', 'CSS', 'C++', 'C', 'Python 3', 'Ruby', 'C#', 'Java']" </p>
  </div> 
  <div class="terminal-row">
    <p class="terminal-input"> > Kasper.frameworks</p>
    <p class="terminal-output"> "['React', 'Vue 3', 'Next.js', 'Flask', 'Jinja2', 'Bootstrap 4']" </p>
  </div>
  <div class="terminal-row">
    <p class="terminal-input"> > Kasper.backend</p>
    <p class="terminal-output"> "['NodeJs', 'MongoDB', 'Firebase', 'PostgresSQL', 'MySQL', 'Prisma', 'Sequelize', 'Mongoose']" </p>
  </div>
  <div class="terminal-row">
    <p class="terminal-input"> > Kasper.other_skills</p>
    <p class="terminal-output"> "['Git', 'Android Studio', 'Docker', 'Linux', 'Bash', 'PowerShell', 'REST API', 'GraphQL', 'Socket.io']" </p>
  </div> 
  <div class="terminal-row">
    <p id="terminal-cursor"> > </p>
  </div> 
</div>
<h2 id="latest-project-header" class="item scrollFade">Latest Project</h2>
<div class="border-abs item scrollFade"></div>
<article class="project-container item scrollFade">
  <img src= {{ l_project.small_image }} alt="project image" />
  <div class="project-text">
    <h3>{{ l_project.project_name }}</h3>
    <p>{{ l_project.short_description }}</p>
    <div class="project-tech"> 
      {% for tech in l_project.techniques_used %}
        <span>{{ tech[0]|upper }}{{ tech[1:] }}</span> 
      {% endfor %}
    </div>
  </div>
  <div class="project-links">
    <form action="{{ url_for('project', id=l_project.project_id) }}">
      <input class="project-goto-project" type="submit" value="More info" />
    </form>
    <form action="{{ l_project.external_link }}">
      <input class="project-goto-source" type="submit" value="View source" />
    </form>
  </div>
</article>
{% endblock content %}
