<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% extends "layout.html" %}
{% block title %} <title>All Projects</title> {% endblock title %}
{% block content %}
<form id="search-form">
  <input id="search-input" class="search-input" name="search" type="text" placeholder="Search for projects..." autofocus autocomplete="off" value="{{ search }}"/>
  <button id="search-btn" class="search-btn" type="submit" name="sort_byf" value="Search"></button>
  <div id="select-form">
    <select id="searchfields-select" class="selectpicker" name="search_fields" data-width="70%" multiple placeholder="Want to specify searchfields?" value="{{ search_fields }}">
      <option value="project_name" >Project name</option>
      <option value="start_date">Start date</option>
      <option value="end_date">End date</option>
      <!-- <option value="group_size">Group size</option> -->
      <option value="short_description">Short description</option>
      <option value="long_description">Long description</option>
      <!-- <option value="academic_credits">Academic credits</option> -->
      <!-- <option value="course_id">Course ID</option> -->
      <!-- <option value="course_name">Course name</option> -->
    </select>
    <select class="selectpicker" name="technique" multiple data-live-search="true" data-width="70%" data-actions-box="true" placeholder="Want to specify technologies?" value="{{ technique }}">
      {% for tech in all_tech %}
        <option value={{ tech }} >{{ tech }}</option>
      {% endfor %}
    </select>
    <select id="sort-select" name="sort_by" class="selectpicker" data-width="40%" data-header="Sort by">
      <option value="start_date" {% if sort_by=='start_date' %} selected {% endif %}>Start date</option>
      <option value="end_date" {% if sort_by=='end_date' %} selected {% endif %}>End date</option>
      <option value="project_name" {% if sort_by=='project_name' %} selected {% endif %}>Project name</option>
      <!-- <option value="academic_credits">Academic credits</option> -->
    </select>
    <select id="order-select" name="sort_order" class="selectpicker" data-width="40%" data-header="Order by" >
      <option value="desc" {% if sort_order=='desc' %} selected {% endif %}>Descending</option>
      <option value="asc" {% if sort_order=='asc' %} selected {% endif %}>Ascending</option>
    </select>
  </div>
</form>
<div id="search-results">
  {% if empty_list %}
  <h4>No projects found with that search... &#x1F641;</h4>
  {% else %}
    {% for project in projects %}
    <article class="project-container multiple-projects">
      <img src= {{ project.small_image }} alt="project image" />
      <div class="project-text">
        <h3>{{ project.project_name }}</h3>
        <p>{{ project.short_description }}</p>
        <div class="project-tech"> 
          {% for tech in project.techniques_used %}
            <span>{{ tech[0]|upper }}{{ tech[1:] }}</span> 
          {% endfor %}
        </div>
      </div>
      <div class="project-links">
        <form action="{{ url_for('project', id=project.project_id) }}">
          <input class="project-goto-project" type="submit" value="More info" />
        </form>
        <form action="{{ project.external_link }}">
          <input class="project-goto-source" type="submit" value="View source" />
        </form>
      </div>
    </article>
    {% endfor %}
  {% endif %}
</div>
{% endblock content%}
