{% extends "layout.html" %}
{% block title %} <title>Techniques</title> {% endblock title %}
{% block content %}

<div class="jumbotron">
  <div class="center">
  <h3><u>Choose Techniques:</u></h3>
    <br>
    <form action="#" method="POST">
      {% for tech in all_tech %}
        <div class="ck-button">
          <input type="checkbox" id={{ loop.index }} name="technique" value={{ tech }}></input>
          <label class="toggle-control" for={{ loop.index }}> <span> {{ tech }}</span></label>
        </div>
      {% if (loop.index % 3) == 0 %}
      <br><br><br>
      {% endif %}
      {% endfor %}
      <div class="submit-button">
        <input type="submit" value="Search" name="sort_byf">
      </div>
    </form>
  </div>
</div>

{% if empty_list %}
<br>
<div class="jumbotron">
  <h4>No projects found with that search :(</h4>
</div>
{% endif %}


{% for project in projects %}
<div style="padding-top:30px">
<div class="container-fluid">
  <a class="hyperlink" href="{{ url_for("project", id=project.project_id)}}">
  <div class="row">
    <div class="col-12 mt-3">
      <div class="card cardeffect">
        <div class="card-horizontal">
          <div class="img-square-wrapper">
            <img class="" src= {{ project.small_image }} alt="Card image cap" width="180" height="180">
          </div>
          <div class="card-body">
            <h4 class="card-title">{{ project.project_name }}</h4>
            <p class="card-text">{{ project.short_description }}</p>
          </div>
        </div>
	<div class="card-footer">
	  <small style="float:left;"><b>Duration: </b>
            {{ project.start_date }} - {{ project.end_date }}</small>
	  <small style="float:right"><b>Techniques:</b>
              {% for tech in project.techniques_used %}
              {% if project.techniques_used|length == loop.index %}
              {{ tech[0]|upper }}{{ tech[1:] }}.
              {% else %}
	      {{ tech[0]|upper }}{{ tech[1:] }}<small>, </small>   
              {% endif %} 
	      {% endfor %}
            </small>
	</div>
      </div>
    </div>
  </div>
  </a>
</div>
</div>
</div>
{% endfor %}
</div>
<div class="add_space">
</div>
{% endblock content%}
